<div class="menu-bar">
  <h2>Endalia HR</h2>
  <img
    class="menu-bar__logout-icon"
    src="/assets/logout.png"
    alt="logout"
    (click)="logout()"
  />
</div>

<div class="search-container">
  <h1>Directorio de empleados</h1>
  <form [formGroup]="searchForm">
    <input
      type="text"
      placeholder="Buscar..."
      class="search-container__search-input"
      formControlName="searchInput"
    />
  </form>
</div>

<div class="card-user">
  <ng-container *ngFor="let user of userList">
    <user-info [user]="user"></user-info>
  </ng-container>
</div>
